.button {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* max-width: 357px;
    max-height: 100px;
    min-height: 90px; */

}

/* Размеры кнопок */
.button.small {
    width: 20vw;
    height: 5vw;
    padding: 1vw 3vw;
    font-size: 1.5vw;
}

.button.medium {
    width: 20vw;
    height: 5vw;
    padding: 1vw 3vw;
    font-size: 1.6vw;
}

.button.large {
    padding: 16px 20px;
    font-size: 20px;
}

/* Цвета кнопок */
.button.primary {
    background-color: #81E7EE; /* Синий */
    color: #015073;
    font-weight: 600;
    border: 3px solid #81E7EE;
}

.button.primary:hover {
    border: 3px solid #81E7EE;
    background-color: #ffffff;
    cursor: pointer;
    transform: scale(0.95);
    transition: 0.8s all;
}

.button.secondary {
    background-color: #A259FF; /* Серый */
    color: white;
}

.button.success {
    background-color: #28a745; /* Зеленый */
    color: white;
}

.button.danger {
    background-color: #dc3545; /* Красный */
    color: white;
}

.button:hover {
    opacity: 0.9; /* Эффект при наведении */
}
/* @media (max-width: 750px) {
    .button.medium {
        min-width: 100px;
        min-height: 10px;
        font-size: 18px;
    }
} */
@media (max-width: 450px) {
    .button.medium {
        width: 60vw;
        height: 12vw;
        font-size: 3vw;
    }
    .button {
        border-radius: 80px;
    }
}
@media (max-width: 450px) {
    .button.small {
        width: 26vw;
        height: 7vw;
        font-size: 3vw;
    }
    .button {
        border-radius: 80px;
    }
}
