.sliderfoto-containerfoto {
      
    width: 1900px;
    height: 1200px; 
    margin: 0 auto;
    align-items: center;
    display: grid;
    justify-content: center;
    text-align: center;
    
    
  }
  
  .sliderfoto-header {
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 40px;
    height: 101; 
    width: 500px;
    color: #6064B9;
    text-align: center;
    padding: 1px 1px;
    border-radius: 40px;
    background-color: #ffffff;
    margin-bottom: 2px;
    border: solid #651366;
    
  }
  
  
  .sliderfoto-wrapper {
    position: relative;
    width: 1198;
    height: 674px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sliderfoto-image {
    position: relative;
    top: 0px;
    /* left:100px; */
    width: 1198px;
    height: 674px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
    border-radius: 20px;
  }
  
  .sliderfoto-button {
    position: relative;
    height: 1%;
    width: 8%;
    transform: translateY(-50%);
    background: #ffffff;
    border: #ec00f9;
    cursor: pointer;
    z-index: 10;
    padding: 0px;
    
  }
  
  .sliderfoto-button-prev {
    /* left: 10px;
    top: -225px; */
    font-size: 100px;
    color: #A6E9FF;
    
  }
  
  .sliderfoto-button-next {
    
    z-index: 10000;
    font-size:100px;
    color: #A6E9FF;
    
  }
  
  .sliderfoto-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 15px;
  }
  
  .sliderfoto-nav-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: solid #ABD9FE;
    
  }
  
  .sliderfoto-nav-item.active {
    background-color:  #A6E9FF;;
  }