.slider-container {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding: 2vw;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 3vw;
    margin-bottom: 2vw;
    color: #333;
}

.testimonial {
    padding: 2vw;
    color: #333;
}

.testimonial-text {
    font-size: 2vw;
    font-style: italic;
    color: #555;
}

.testimonial-name {
    margin-top: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
    color: #000;
}

/* Настройки для маленьких экранов */
@media (max-width: 780px) {
    .slider-container {
        width: 90vw;
        padding: 5vw;
    }

    h2 {
        font-size: 5vw;
    }

    .testimonial-text {
        font-size: 4vw;
    }

    .testimonial-name {
        font-size: 3vw;
    }
}
