.about-school {
    background-color: #6064B9;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
  }
  .about-conteiner{
    padding: 40px 50px ;
    display: flex;
    align-items: center;
    gap: 50px;



  }
  
  .about-school__title {
    
    font-weight:500;
    font-size: 48px;
    color: rgb(255, 255, 255);
    
  }
  
  .about-school__text {
    max-width: 800px;
    font-weight:normal;
    background-color: #BB71F6;
    padding: 28px 50px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgb(168, 168, 168);
    /* top:1000px; */
    
  }
  
  .about-school__text p {
    font-size: 30px;
    line-height: 37px;
    color: rgb(255, 255, 255);
    
  }