.admin-auth {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 10;
    height: 100vh; /* Гарантируем полную высоту страницы */
}

.admin-auth-content {
    background-color: #989CF2;
    height: 70vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Минимальная высота на весь экран */
}

.form-auth-content {
    height: 40vw;
    width: 50vw;
    border-radius: 30px;
    background-color: #ffff;
    color: #989CF2;  
    h2 {
        color: #3D3F68;
        font-weight: 400;
        font-size: 2.5vw;
        text-align: center;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  width: 40vw;
  height: 40vw;
}

.text-error {
    text-align: center;
    color: #F619B8;
    align-items: center;
}

.auth-fields {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.form-auth-input {
    padding-left: 2.3rem;
    border-radius: 3rem;
    border-color: #BDBCF8;
    border: 3px solid #BDBCF8;
    color: #BDBCF8;
    font-size: medium;
    background-color: white;
    width: 35vw;
    height: 6vw;
    font-size: 2vw;
    text-align: left;
    cursor: pointer;
    
}

.btn-auth-admin {
  color: #015073;
  border-radius: 50px;
  width: 35vw;
  height: 6vw;
  font-size: 1.8vw;
  font-weight: 600;
  cursor: pointer;
  background-color: #81E7EE;
  border: 3px solid #81E7EE;
}

.btn-auth-admin:hover {
    background-color: #ffff;
    border: 3px solid inherit;
    transform: scale(0.95);
    transition: 0.8s all;
}

/* @media (max-width: 650px) {
  .form-auth-content {
    margin-top: 5vw;
    height: 40vw;
    width: 50vw;
  }
} */
@media (max-width: 650px) {
  .form-auth-content {
      width: 60vw;
      height: 60vw; /* Высота будет автоматически подстраиваться */
  }

  .form-auth-input, .btn-auth-admin {
      width: 50vw; /* Уменьшаем ширину полей и кнопки для мобильных устройств */
      font-size: 3vw;
      height: auto;
      padding: 10px;
  }

  .form-auth-content h2 {
      font-size: 3vw; /* Уменьшаем размер заголовка */
  }
}
@media (max-width: 320px) {
  .form-auth-content {
      width: 80vw;
      height: 80vw; /* Высота будет автоматически подстраиваться */
  }

  .form-auth-input, .btn-auth-admin {
      width: 70vw; /* Уменьшаем ширину полей и кнопки для мобильных устройств */
      font-size: 4vw;
      height: auto;
      padding: 10px;
  }

  .form-auth-content h2 {
      font-size: 4vw; /* Уменьшаем размер заголовка */
  }
}


/* админ панель */

.admin-page {
  padding-top: 15vw;
  padding-left: 3vw;
  padding-right: 3vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  background-color: #6064B9;
  h1 {
    font-size: 2vw;
    color:#ffffff;
  }
}

.total-applications {
  color: #ffffff;
  display: flex;
  gap: 10vw;
  justify-content: space-between;
  h4 {
    font-size: 1.3vw;
    font-weight: 400;
  }
  margin-bottom: 4vw;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    padding-left: 4vw;
}

table {
  border-collapse: collapse;
  background-color: #364374;
  color: #ffff;
  font-size: 1vw;
  overflow-x: auto; /* прокрутка */
  width: 100%;
  table-layout: auto;
  margin-left: 0;
}

.selector-column {
  padding: 0.5vw 0;
}

/* ------------Table------------ */
td, th {
  padding:1vw 1vw 1vw 0;
  /* padding-left: 20px; */
  border: 2px solid transparent;
  box-sizing: border-box;
  white-space: nowrap;

}

tr:hover {
  background-color: #2E2962;
  outline: 2px solid #ffffff;
}

td:hover {
  color: #81E7EE;
}

th {
  padding: 1vw 0;
  background-color: #2E2962;
  white-space: nowrap;
}

.btn-add {
  color: #3D3F68;
  background-color: #ffff;
  border: 3px solid #81E7EE;
  border-radius: 30px;
  width: 6vw;
  min-width: 50px;
  height: 3vw;
  font-size: 2vw;
  cursor: pointer;
}

.btn-add:hover {
  color:#3D3F68;
  background-color: #81E7EE;
  transform: scale(0.9);
  transition: 0.9s all;
}

.actions-btns {
  display:flex;
  align-items: center;
  justify-items: center;
}

.icon-edit {
  color:#ffff;
  background-color: inherit;
  width: 3vw;
  border: none;
  border-radius: 30px;
  font-size: 1.7vw;
}

.icon-edit:hover {
  color:#3D3F68;
  background-color: #81E7EE;
  transform: scale(0.95);
  transition: 0.8s all;
}

.icon-del {
  color:#ffff;
  background-color: inherit;
  width:3vw;
  border-radius: 30px;
  border: none;
  font-size: 1.7vw;
}

.icon-del:hover {
  color:#ffffff;
  background-color: #C494EA;
  transform: scale(0.95);
  transition: 0.8s all;
}

.icon-accept {
  color:#ffffff;
  background-color: inherit;
  width:3vw;
  border-radius: 30px;
  border: none;
  font-size: 1.7vw;
}

.icon-accept:hover {
  color:#ffff;
  background-color: #C1578A;
  transform: scale(0.95);
  transition: 0.8s all;
}

.pagination {
  color: #2E2962;
  font-size: 2vw;
  font-weight: 400;
  right: 2vw;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
}

.arrows-for-pagination {
  font-size: 3vw;
  cursor: pointer;
}
.arrows-for-pagination:hover {
  color:#ffff;
  transform: scale(0.95);
  transition: 0.8s all;
}

.filter-container {
  position: relative;
}

.filter-icon {
  cursor: pointer;
  padding-top: 0.1vw;
}

.type-of-lean-select {
  position: absolute;
  font-size: 1vw;
  top: 1vw;
  left: 0;
  color:#ffffff;
  width: 8vw;
  height: 7vh;
  border: 3px solid #81E7EE;
  border-radius: 30px;
  background-color: #2E2962;
}

@media (max-width: 650px) {
  .table {
    font-size: 5vw;
  }
  .admin-page {
    padding-top: 20vw;
  }
  .total-applications {
    color: #ffffff;
    display: flex;
    gap: 10vw;
    justify-content: space-between;
    h4 {
      font-size: 3vw;
      font-weight: 400;
    }
    margin-bottom: 4vw;
  }
  .admin-page {
    padding-top: 25vw;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    background-color: #6064B9;
    h1 {
      font-size: 3vw;
      color:#ffffff;
    }
  }
  .btn-add {
    width: 6vw;
    height: 5vw;
    font-size: 4vw;
  }
}
@media (max-width: 320px) {
  .table {
    font-size: 4vw;
  }
  .admin-page {
    padding-top: 35vw;
  }
}
/* ------------Table----------- */

/* формы */

.modal {
  padding-top: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.modal input {
  padding-left: 2.3rem;
  border-radius: 3rem;
  border-color: #BDBCF8;
  border: 3px solid #BDBCF8;
  color: #BDBCF8;
  background-color: white;
  width: 10vw;
  height: 8vh;
  font-size: 1.7rem;
  text-align: left;
  cursor: pointer;
}

.modal-content select {
  border-radius: 3rem;
  border-color: #BDBCF8;
  border: 3px solid #BDBCF8;
  color: #BDBCF8;
  background-color: white;
  height: 8vh;
  font-size: 1.7rem;
  text-align: left;
  cursor: pointer;
}

.form-add {
  padding: 30px 0;
  gap: 30px;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background-color: white;
  padding: 70px;
  border-radius: 30px;
  min-width: 600px;
  width: 40vw;
  max-height: 90%; /* Устанавливаем максимальную высоту контейнера */
  overflow: auto;
}

.modal-content h2 {
  margin-top: 0;
  color: #3D3F68;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

.form-group label {
  font-size: 1.7rem;
  padding: 1rem;
  color: #3D3F68;
}

.modal-content form {
  display: block;
  margin-bottom: 10px;
}

.modal-content form input, form select {
  width: 100%;
  padding: 15px;
  color:#BDBCF8;
  margin-bottom: 20px;
}

.modal-content button {
  margin-top: 10px;
}

.buttons-form-add {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-submit, .btn-cancel {
  color: #ffff;
  border-radius: 50px;
  min-width: 200px;
  min-height: 80px;
  width: 15vw;
  height: 10vh;
  font-size: 2rem;
  cursor: pointer;
}

.btn-submit {
  background-color: #81E7EE;
  border: 3px solid #81E7EE;
}

.btn-cancel {
  background-color: #C494EA;
  border: 3px solid #C494EA;
}

.btn-submit:hover, .btn-cancel:hover {
  background-color: #ffff;
  border: 3px solid inherit;
  color: #BDBCF8;
  transform: scale(0.95);
  transition: 0.8s all;
}