.header {
    margin: 0px 0px;
    padding-top: 10px;
    background: transparent;
    position: fixed;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content:space-between;
    background: #474BAE;
    padding: 0 6vw;
}

.logos {
    display: flex;
    gap: 15px;
    .Logo {
        width: 10vw;
        max-width: 120px;
        /* min-width: 80px; */
        height: auto;
    }
    .Logo2 {
        width: 17vw;
        max-width: 170px;
        /* min-width: 100px; */
        height: auto;
    }
}

.menu {
    display: flex;
    align-items: center;
    color: #ffff;
    font-size: 20vw;
    font-weight: 400;
}

a:hover {
    color: #ffff;
    text-decoration: underline;
}

.arrow-back-menu {
    width: 70px;
    height: 60px;
    color: #ffff;
}

/* ------------Navbar0------------ */

.menu {
    font-size: 1.3vw;
}

/* ------------Navbar1------------ */
.menu-1 {
    font-size: 1.4vw;
    font-weight: 400;
    color:#ffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
}

.icon-menu {
    font-size: 3vw;
}

.hello {
    background-color: #81E7EE;
    padding: 0.6vw 1vw;
    border: 3px solids#81E7EE;
    border-radius: 30px;
}

.exit {
    background-color: #81E7EE;
    padding: 0.5vw 1vw;
    border: 3px solid#81E7EE;
    border-radius: 30px;
}

.hello:hover {
    text-decoration: none;
    color:#ffff;
    font-weight: 600;
    cursor: pointer;
    transform: scale(1.06);
    transition: 0.8s all;
}

.dropdown__menu {
    position:absolute;
    font-size: 1.5vw;
    top: 120px;
    right: 6vw;
    width: 26vw;
    padding: 2vw;
    background-color: #A1AFD7;
    border-radius: 10px;
    border: 1px solid #A1AFD7;
}

.dropdown__menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: left 1s;
}

.dropdown__menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: left 1s;
}

.dropdown__menu::before {
    display: block;
    content: "";
    position: absolute;
    top: -5px;
    width: 40px;
    height: 40px;
    right: 10px;
    background-color: #A1AFD7;
    transform: rotate(45deg);
}

.btn-open-menu {
    color:#ffff;
    cursor: pointer;
}

.btn-open-menu:hover {
    transform: scale(1.03);
    transition: 0.9s all;
}

.ul-open-menu {
    padding: 1vw;
}

.menu__item {
    padding: 1vw;
}

.menu__item:hover {
    text-decoration: none;
    color:#ffff;
    font-weight: 600;
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.8s all;
}

li {
    padding: 15px;
}

/* ------------Navbar1------------ */
@media (max-width: 820px) {
    .header-content {
        height: 70px;
    }

    .hello {
        display: none;
    }
    .exit {
        font-size: 2vw;
    }
    .icon-menu {
        font-size: 4.5vw;
    }
    .Logo {
        width: 4vw;
        min-width: 90px;
        height: auto;
    }
    .Logo2 {
        width: 9vw;
        min-width: 120px;
        height: auto;
    }
    .dropdown__menu {
        font-size: 3vw;
        top: 100px;
        right: 3vw;
        width: 40vw;
        padding: 0.6vw 0.6vw 0.6vw 0.1vw;
    }
    .menu {
        font-size: 2vw;
    }
}

@media (max-width: 500px) {
    .dropdown__menu {
        top: 100px;
        right: 3vw;
        width: 40vw;
        padding: 0.6vw 0.6vw 0.6vw 0.1vw;
    }
    .header-content {
        height: 70px;
    }
    .hello {
        display: none;
    }
    .exit {
        font-size: 3.5vw;
    }
    .icon-menu {
        font-size: 6vw;
    }
    .Logo {
        width: 4vw;
        min-width: 70px;
        height: auto;
    }
    .Logo2 {
        width: 4vw;
        min-width: 100px;
        height: auto;
    }
    .menu {
        font-size: 2vw;
    }
}
@media (max-width: 320px) {
    .dropdown__menu {
        font-size: 5vw;
        top: 100px;
        right: 3vw;
        width: 60vw;
        padding: 0.6vw 0.6vw 0.6vw 0.1vw;
    }
    .header-content {
        height: 70px;
    }
    .hello {
        display: none;
    }
    .exit {
        font-size: 3.5vw;
    }
    .icon-menu {
        font-size: 6vw;
    }
    .Logo {
        width: 4vw;
        min-width: 70px;
        height: auto;
    }
    .Logo2 {
        width: 4vw;
        min-width: 100px;
        height: auto;
    }
    .menu {
        font-size: 4vw;
    }
}