/* Стили для карусели */
.w-full { /* Устанавливает ширину карусели на 100% */
    width: 100%;
  }
  
  .max-w-sm { /* Ограничивает максимальную ширину карусели до "sm" размера */
    max-width: 24rem;
  }
  
  /* Стили для контента карусели */
  .md:basis-1 { /*  Для медиа-запросов с шириной экрана от "md" (768px) устанавливает ширину элемента на 50% */
    flex-basis: 50%;
  }
  
  .lg:basis-1{ /* Для медиа-запросов с шириной экрана от "lg" (1024px) устанавливает ширину элемента на 33.33% */
    flex-basis: 33.33%;
  }
  
  /* Стили для карточек */
  .aspect-square { /* Соотношение сторон элемента 1:1 (квадратный) */
    aspect-ratio: 1 / 1;
  }
  
  /* Стили для кнопок переключения */
  .carousel-nav { /* Класс для кнопок "предыдущая" и "следующая" */
    display: flex; /* Выравнивает кнопки в ряд */
    justify-content: space-between; /* Располагает кнопки по краям */
    align-items: center; /* Выравнивает кнопки по вертикали */
    position: absolute; /* Позиционирует кнопки относительно родительского элемента */
    top: 50%; /* Позиционирует кнопки на 50% от высоты родителя */
    transform: translateY(-50%); /* Перемещает кнопки на 50% вверх, чтобы они оказались в центре по вертикали */
    z-index: 10; /* Устанавливает более высокий z-index для кнопок, чтобы они были выше карусели */
  }
  
  .carousel-nav button { /* Стили для кнопок */
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Убирает рамку */
    padding: 0.5rem; /* Отступ вокруг текста */
    cursor: pointer; /* Устанавливает курсор в виде указателя */
    transition: background-color 0.3s ease; /* Добавляет плавный переход цвета при наведении */
  }
  
  .carousel-nav button:hover { /* Стили для кнопок при наведении */
    background-color: rgba(0, 0, 0, 0.1); /* Непрозрачный серый цвет */
  }