@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

ul,
li {
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px;
}

.content {
  margin-top: 120px; /* 70px высота хедера + 15px отступ сверху */
  background-color: #ffffff;
}

.main-content {
  display: block;
}
