.statswords1 {
    position: relative;
    width: 300px;
    height: 10px;
    left: 20px;
    top: 10px;
    color: #df02fc;
    flex: none;
    order: 7;
    flex-grow: 0;
    z-index: 9;
    font-size: 14px
    
    }
.statswords1 {
    position: relative;
    width: 300px;
    height: 10px;
    left:240px;
    top: 23px;
    color: #080808;
    flex: none;
    order: 7;
    flex-grow: 0;
    z-index: 9;
    font-size: 14px
    
    }
.statswords2 {
    position: relative;
    width: 300px;
    height: 10px;
    left: 510px;
    top: 14px;
    color: #000000;
    flex: none;
    order: 7;
    flex-grow: 0;
    z-index: 9;
    font-size: 14px
    
    }
    .statswords3 {
    position: relative;
    width: 300px;
    height: 10px;
    left: 865px;
    top: 8px;
    color: #000000;
    flex: none;
    order: 7;
    flex-grow: 0;
    z-index: 9;
    font-size: 14px
    
    }
    .statswords4 {
    position: relative;
    width: 300px;
    height: 10px;
    left: 1165px;
    top: -2px;
    color: #000000;
    flex: none;
    order: 7;
    flex-grow: 0;
    z-index: 9;
    font-size: 14px
    
    }


